* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  font-family: "Ubuntu", sans-serif;
}
.header {
  background-color: #2c1619;
  width: 100%;
  padding: 30px;
  text-align: center;
  align-items: center;
}
.header a {
  text-decoration: none;
  color: #ffffff;
  font-size: 36px;
}
.header a::after {
  color: #ffffff;
  text-decoration: none;
}
.content {
  background-color: #4b2b30;
  margin: 0;
  padding: 10px;
  position: relative;
  display: flex;
}
.links {
  max-width: 20%;
  margin-top: 50px;
}
.links img {
  width: 100px;
}
.links a {
  display: block;
  padding: 5px 20px;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}
.input {
  display: block;
  margin: 50px 100px;
  border-radius: 26px;
  background: #d9d9d9;
  width: 60%;
  height: 10%;
}
.input img {
  width: 28%;
  height: 28%;
  margin-left: 37%;
  margin-top: 5%;
  padding-bottom: 2%;
  display: block;
}
.input #image-file {
  display: none;
  align-items: center;
}
fieldset {
  max-width: 60%;
  margin: auto;
  border-radius: 5px;
}
legend {
  margin-left: 10px;
  padding: 0 5px;
}
.gender {
  margin: 10px;
}
.gender-name {
  font-weight: 300;
}
.input p {
  margin: auto;
  text-align: left;
  color: #2c1619;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 19px;
  border: 1px solid #2c1619;
  padding: 10px 20px;
  max-width: 35%;
  cursor: pointer;
}
.input i {
  padding-left: 30px;
}
.input input:not(.gender) {
  display: block;
  margin: 20px auto;
  width: 60%;
  height: 3%;
  border-radius: 5px;
  border: 1px solid #2c1619;
  background: #d7cfd0;
  padding: 12px 20px;
}
.input select {
  display: block;
  margin: auto;
  width: 60%;
  height: 3%;
  border-radius: 5px;
  border: 1px solid #2c1619;
  background: #d7cfd0;
  padding: 12px 20px;
}
.input button {
  display: block;
  margin: auto;
  align-items: center;
  width: 40%;
  height: 5%;
  border-radius: 10px;
  background: #4b2b30;
  color: #fff;
  padding: 1%;
  cursor: pointer;
  font-size: 20px;
}

.sign {
  text-align: center;
  color: #4b2b30;
  margin-top: 5px;
  margin-bottom: 40px;
}
.sign a {
  color: #4b2b30;
}
.footer {
  background-color: #2c1619;
  bottom: 0;
  left: 0;
  text-align: center;
  align-items: center;
  padding: 50px;
}
.footer p {
  color: #d9d9d9;
  font-size: 24px;
  margin: 20px;
}
.footer a {
  color: #d9d9d9;
  font-size: 36px;
  padding: 0 20px;
}
@media (max-width: 715px) {
  .content {
    padding: 5px;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 700px;
  }
  .links {
    order: 1;
    max-width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin: 10px auto;
  }
  .links img {
    margin-right: 10px;
  }
  .links a {
    font-size: 12px;
    display: block;
  }
  fieldset {
    max-width: 100%;
  }
  .input {
    order: 2;
    margin: 10px 5px;
    width: 80%;
    margin: 40px auto;
    padding: 20px;
  }

  .input img {
    width: 30%;
    height: 30%;
    margin: auto;
    margin-top: 10px;
  }

  .input p {
    margin: auto;
    font-size: 12px;
    max-width: 70%;
    padding: 5px 10px;
  }

  .input input:not(.gender),
  .input select {
    width: 100%;
  }

  .input button {
    width: 80%;
    font-size: 16px;
    padding: 5px;
  }
  .footer {
    padding: 10px;
    height: 70px;
  }
  .footer p {
    font-size: 16px;
    margin: auto;
  }
  .footer a {
    font-size: 14px;
    padding: 0 3px;
  }
}
